body{
    font-family: 'Abel', sans-serif;
    background-image: url(bk.jpg);
    background-position: center;
    background-size: cover;
}
#camera , #result{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_family_name{
  color: black;
  font-size: x-large;
}